img {
    height: 9em;
    width: 10em;
}

.h1 {
    float: right;
    margin-right: 20em;
    color: rgb(25, 25, 128);
    margin-top: 0.5em;
}

#nav {
    background-color: rgb(25, 25, 128);
    height: 4em;
    width: 100%;
}

.ol {
    list-style-type: none;
    display: flex;
}

li {
    margin-right: 4.5em;
    font-size: 24px;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    color: white;
    margin-top: 0.7em;
}

.a-li {
    color: #007BFF;
}

.a-li:link {
    text-decoration: none;
}

.a-li:visited {
    color: #007BFF
}

.a-li:hover {
    color: #f1f1f1;
    font-weight: bold;
}

.a-li:active {
    color: white;
}

.img {
    height: 9em;
    width: 10em;
    margin-left: 1em;
}

.a {
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serifS;
    text-align: center;
    color: rgb(10, 10, 173);
    font-size: 68px;
    margin-top: -2em;
}

.aa {
    text-align: center;
    font-size: 20px;
}

.first input,
select {
    display: inline-block;
    width: 98.5%;
    height: 35px;
    padding: 5px;
    margin: 8px;
    border: none;
    border-radius: 6px;
    box-sizing: border-box;
    background-color: #ececec;
    box-shadow: 3px 3px #cccccc;
}

.hh input,
select {
    display: inline-block;
    width: 23.9%;
    padding: 5px;
    margin: 8px;
}

.hhh input,
select {
    display: inline-block;
    width: 25.35%;
    padding: 5px;
    margin: 8px;
}

.hhhh input,
select {
    display: inline-block;
    width: 36.08%;
    padding: 5px;
    margin: 8px;
}

.hhhhh input,
select {
    display: inline-block;
    width: 16.7%;
    padding: 5px;
    margin: 8px;
}

.b input,
select {
    display: inline-block;
    width: 36.9%;
    padding: 5px;
    margin: 8px;
}

.c input,
select {
    display: inline-block;
    width: 36.6%;
    padding: 5px;
    margin: 8px;
}

.d input,
select {
    display: inline-block;
    width: 31.6%;
    padding: 5px;
    margin: 8px;
}

.e input,
select {
    display: inline-block;
    width: 32.2%;
    padding: 5px;
    margin: 8px;
}

.f input,
select {
    display: inline-block;
    width: 20px;
    margin-left: 0.95em;
    zoom: 1.3;
    box-shadow: none;
    height: 20px;
}

input[type="submit"] {
    background-color: blue;
    color: white;
}

.div-form {
    background-color: #fafafa;
    background-image: url('pic/logo2.png');
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
    background-size: 85%;
    background-position-x: center;
    background-position-y: 25em;
    background-repeat: no-repeat;
}

.aaa {
    text-align: center;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}